clone_folder: C:\msys64\home\mingw-packages
image: Visual Studio 2019

branches:
  only:
    - master

environment:
  DISABLE_QUALITY_CHECK: true
  PATH: C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Program Files\Git\cmd;C:\Program Files\7-Zip
  BUILD_URL: https://ci.appveyor.com/project/$(APPVEYOR_ACCOUNT_NAME)/$(APPVEYOR_PROJECT_NAME)/build/$(APPVEYOR_BUILD_VERSION)
  MSYSTEM: MSYS
  matrix:
    - MINGW_ARCH: mingw32
      PACMAN_REPOSITORY: mingw32
      MINGW_TOOLCHAIN: i686
    - MINGW_ARCH: mingw64
      PACMAN_REPOSITORY: mingw64
      MINGW_TOOLCHAIN: x86_64
    - MINGW_ARCH: ucrt64
      PACMAN_REPOSITORY: ucrt64
      MINGW_TOOLCHAIN: ucrt-x86_64

matrix:
  fast_finish: true

build_script:
  - rmdir /s /Q C:\OpenSSL-Win32 C:\OpenSSL-Win64 C:\Python27 C:\Python27-x64
  - C:\msys64\usr\bin\bash --login -c "pacman --noconfirm -Rcsu $(pacman -Qqe | grep mingw-w64)"
  - C:\msys64\usr\bin\pacman -Syu --noconfirm
  - C:\msys64\usr\bin\bash --login -c "$(cygpath ${APPVEYOR_BUILD_FOLDER})/ci-build.sh"
#  - C:\msys64\usr\bin\bash --login -c "$(cygpath ${APPVEYOR_BUILD_FOLDER})/fullindex.sh"

test: off

artifacts:
  - path: artifacts\*
    name: binaries
  - path: sourcepkg\*
    name: sources
