jobs:
  - job: MINGW
    timeoutInMinutes: 360
    pool:
      vmImage: vs2017-win2016
    strategy:
      maxParallel: 5
      matrix:
        i686:
          MINGW_ARCH: mingw32
          PACMAN_REPOSITORY: mingw32
          MINGW_TOOLCHAIN: i686
          MSYSTEM: MSYS
        x86_64:
          MINGW_ARCH: mingw64
          PACMAN_REPOSITORY: mingw64
          MINGW_TOOLCHAIN: x86_64
          MSYSTEM: MSYS

    steps:
      - powershell: |
          Import-Module '.\scripts.ps1'
          InstallRtoolsExe
        displayName: Installing msys64 build environment
      - script: |
          SET PATH=c:\rtools40\usr\bin;%PATH%
          rmdir /s /Q "C:\Program Files\Boost"
          copy /y pacman.conf C:\rtools40\etc\pacman.conf
          C:\rtools40\usr\bin\pacman -Syyuu --noconfirm --ask 20
          C:\rtools40\usr\bin\pacman -Syyuu --noconfirm --ask 20
          C:\rtools40\usr\bin\pacman --noconfirm --needed -S git ca-certificates
          C:\rtools40\usr\bin\bash --login -c "$(cygpath ${SYSTEM_DEFAULTWORKINGDIRECTORY})/ci-build.sh"
        displayName: Building Packages

      - task: PublishPipelineArtifact@1
        displayName: Storing artifacts
        inputs:
          targetPath: artifacts
          artifactName: $(MINGW_ARCH)-repo.zip
